<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>503839723767-h1e4k2r40kfn5u4cvkeqauh84qu6sjb5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.503839723767-h1e4k2r40kfn5u4cvkeqauh84qu6sjb5</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>503839723767-bvkrrfg885ijuj26l79at4hkc9rqp96g.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB2XYfehfYdfd8hio7Qpq3XGPkYQls_n5g</string>
	<key>GCM_SENDER_ID</key>
	<string>503839723767</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nimmalasujith.nsideasApp</string>
	<key>PROJECT_ID</key>
	<string>ns-ideas-app</string>
	<key>STORAGE_BUCKET</key>
	<string>ns-ideas-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:503839723767:ios:37353c44573f837d8a43f2</string>
	<key>DATABASE_URL</key>
	<string>https://ns-ideas-app-default-rtdb.firebaseio.com</string>
</dict>
</plist>