<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>503839723767-9mahj5kb7dekan6o37ikc9ihn6hufjp7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.503839723767-9mahj5kb7dekan6o37ikc9ihn6hufjp7</string>
	<key>API_KEY</key>
	<string>AIzaSyB2XYfehfYdfd8hio7Qpq3XGPkYQls_n5g</string>
	<key>GCM_SENDER_ID</key>
	<string>503839723767</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nimmalasujith.nsideas.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>ns-ideas-app</string>
	<key>STORAGE_BUCKET</key>
	<string>ns-ideas-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:503839723767:ios:03abe54ace5d49df8a43f2</string>
</dict>
</plist>